    label {
        color: azure;
        font-weight: bold;
     font-size: 0.9rem;
    }

    .dropDownMain { 
        /* flex-direction: column; */
        /* justify-content: space-between; */

        display: flex;
        flex-direction: column;
        gap: 1rem;
        /* align-items: flex-end; */
        /* align-self: flex-end; */
        /* flex-flow: column-reverse; */
        /* justify-content: flex-start; */
        flex: 1;
        
        
    }

    .dropDownFilter {
        /* display: flex; */
        /* align-items: flex-start; */
        /* flex-flow: column-reverse;  */
        font-size: 1rem;
        align-self: flex-end;
    font-weight: bold;
    color: white;
    padding: 0.5rem;
    border-radius: 12px;
    }

    select {
        padding: 4px;
        padding-left: 20px;
        padding-right: 6px;
        align-content: center;
        font-weight: bold;
    }
